@import url(./theme.css);

:root {
  --background: var(--c-white);
  --a1: rgba(0 0 0 / 0.05);
  --a2: rgba(0 0 0 / 0.1);
  --a3: rgba(0 0 0 / 0.3);
  --foreground: var(--c-text-light-1);
  --shadow: 0px 6px 20px rgb(0 0 0 / 20%);
  --unit: 8px;
}

html.dark {
  --a1: rgba(255 255 255 / 0.05);
  --a2: rgba(255 255 255 / 0.1);
  --a3: rgba(255 255 255 / 0.15);
  --shadow: 0px 6px 20px rgb(0 0 0 / 80%);
}

kbd {
  font-family: monospace;
  padding: calc(var(--unit) * 0.25) calc(var(--unit) * 0.5);
  background: var(--a2);
  border-radius: calc(var(--unit) * 0.5);
  color: var(--foreground);
  font-size: 14px;
}
